.container{ 
    margin: 0 auto;  
    font-size: 4vh;  
    width: 50vw;
    background-color: black;  
    border:1px solid black;
}  

.formulaScreen{
min-height: 5vh;
font-size: 3vh;
color: orange;
word-wrap: break-word;
}

.outputScreen{
min-height: 5vh;
font-size: 3vh;
color: white;
word-wrap: break-word;
} 

.buttonArray{
    margin:1vh}

.btn{  
    background-color: white; 
    border: solid black 1px;    
    text-align:center;    
    &:hover{
        background-color:rgb(47, 121, 211);
        color: white;
        }
}

.operator{
    background-color:rgb(30, 85, 151);
    color: white }